{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

	<h3> What you will find here </h3>
	<p>
		This website was created to introduce myself, to present some of the projects I worked on and to share some tips. You can also find my resume in the according section.
	</p>
	<p>
		In the portfolio section you will find some projects I worked on.
	</p>
	<p>
		In the blog section I might post some detailed articles about interesting things that I have found, used or details about some projects that do not fit in the portfolio category.
	</p>
	<p>
		Finally, in the "about me" section there are more detailed information about what I'm interested in, and which technologies I use.
	</p>

	<h3>Training and Career</h3>
	<p>I have been interested in computer science and electronics since high school. I chose to go down the computer science route when going to University.</p>
	<p>I integrated a selective training at the University of Strasbourg, specialized in computer graphics. I'm now arriving at the end of my Master's degree specialized in computer graphics and image processing.</p>
	<p>I am willing to become an <b>expert software engineer</b>, specialized in <b>Computer Graphics</b> and <b>Real-Time applications</b>.</p>
	<p>My main strength is my interest in a broad range of topics. Outside of my expertise range, I have a good understanding of <b>networking</b>, <b>web technologies</b>, system <b>programming/administration</b> and <b>game development</b>. I have also gathered knowledge over my free time about <b>electronics</b>, <b>micro-controllers</b>, <b>audio engineering</b>, <b>3D modeling/animation</b> and <b>photography</b>. Those knowledge make me a good fit for any multimedia project.</p>
	<h3>Topics of interest</h3>
	<p>
	I'm interested in a broad range of computer graphics topics. I'm fond of <b>procedural synthesis</b> on GPU with a preference for terrains/landscapes. I also really like <b>image processing</b> and <b>computer vision</b>.
	</p>
	<p>I also love <b>game development</b> and <b>interactive application</b> in general !</p>
	<p>I'm putting an accent on improving my <b>technical knowledge</b> of my expertise field: writing modern c++, concurrency, data-oriented programming, being aware of the underlying hardware (CPU/GPU).</p>
	<p>
	I'm also interested in machine learning, security and also network/system administration!
	</p>

	<!--	<h3>The articles below are about my most interesting projects</h3>  -->

<!--
        <div class="posts-list">
          {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
          {{ range $pag.Pages }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
                <h2 class="post-title">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle">
                  {{ .Params.subtitle }}
                  </h3>
                {{ end }}
                {{ if .Params.image }}
                <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-title" />

                {{ end }}
                {{ if .Params.video }}
                <video src="{{ .Params.video }}" loop autoplay muted playsinline class="img-title" />
                {{ end }}
              </a>

              {{ partial "post_meta.html" . }}
              <div class="post-entry">

	      {{ if .Truncated }}
                  {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}
                  <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>

		  {{ else }}
                  {{ .Content }}

		  {{ end }}
              </div>

              {{ if .Params.tags }}
                <div class="blog-tags">
                  {{ range .Params.tags }}
                    <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
                  {{ end }}
                </div>
              {{ end }}
            </article>
          {{ end }}
        </div>
-->
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
